<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div>
        <div class="renewal">
          <div class="labels" s>
            <li>Days</li>
            <li>Hours</li>
            <li>Mins</li>
            <li>Secs</li>
          </div>
          <h4 id="renewal">Countdown</h4>

        </div>
      </div>
      <!--last column-->
      <div class=" navbar-collapse" style="justify-content:flex-end;">
        <ul class="navbar-nav justify-content-end ">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-chat-left-text"></i><span>23</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-bell"></i><span>98</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i data-show="show-side-navigation1" class="bi bi-list show-side-btn"></i>
            </a>
          </li>
        </ul>
      </div>
      <!--last column-->

    </div>
  </nav>
</header>
