<%- include('globals/head', { title: 'PORES ~ Professional Online Real Estate System' }); %>
  <style>
    h3 {
      text-align: center;
    }
  </style>

  <body>
    <%- include('globals/header') %>
      <!--hero section-->
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center hero">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 fw-normal">PORES REALTY®</h1>
          <p class="lead fw-normal lh-base">Our range of real estate professionals and estate agents offer both
            long term and long term experience to support your real estate investment or loan plans.</p>
          <a class="btn btn-primary" href="/register">Join Us</a>
        </div>
      </div>
      <main>
        <div class="container">
          <div class="row mb-2">
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-ruby-brown">Realtors</strong>
                  <div class="mb-1 text-muted">140 Active Realtors</div>
                  <p class="card-text mb-auto lh-base">PORES REALTY® is dedicated to supporting its clients. Real estate
                    agents
                    represent
                    buyers and sellers throughout Kenya.</p>
                  <a href="/browse-realtors" class="stretched-link">View all Realtors</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <image width="100%" height="100%" href="/img/people_search.svg"></image>
                  </svg>

                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-ruby-brown">Properties</strong>
                  <div class="mb-1 text-muted">1040 Active Properties</div>
                  <p class="mb-auto lh-base">House available for sale and rent in Kenya more then 1000+ Listings. Only
                    approved
                    listings are listed only. Plots, Houses, Apartments in Kenya.
                  </p>
                  <a href="#" class="stretched-link">View all Properties</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <image width="100%" height="100%" href="/img/house_search.svg"></image>

                  </svg>

                </div>
              </div>
            </div>
          </div>

        </div>
      </main>



      <%- include('globals/footer'); %>
