<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Realtor | Login </title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/globals.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/bootstrap-icons.css" />
</head>

<body>
  <!-- Navbar-->

  <main>
    <div class="container">
      <div class="form_wrapper">
        <div class="form_container">
          <div class="title_container">
            <h2>Orasim Realtor Login Form</h2>
          </div>
          <div class="row clearfix" style="align-items: center">
            <!-- For Demo Purpose -->
            <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
              <img src="/img/undraw_login.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
              <h2 style="text-align: start;">Welcome Back!</h2>

              <p class="font-italic text-muted mb-0">
                It's nice to see you again. <br>
                Login to continue to your Account
              </p>
              <p class="font-italic text-muted">Go back to <a href="/" class="text-muted">
                  <u>Orasim</u></a>
              </p>
            </div>
            <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">

              <% if(typeof error !='undefined' ) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <%= error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>
                  <form action="" method="POST">
                    <div class="input_field"> <span><i aria-hidden="true" class="bi bi-person-lines-fill"></i></span>
                      <input type="number" name="govid" placeholder="Identification No." required />
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="bi bi-lock"></i></span>
                      <input type="password" id="passInput" name="password" placeholder="Password" required />
                      <span toggle="#password-field" class="bi bi-eye field-icon toggle-password"></span>
                    </div>
                    <input class="button" type="submit" value="Login" />
                  </form>
                  <!-- Already Registered -->
                  <div class="text-center w-100">
                    <p class="text-muted font-weight-bold">Don't have an account? <a href="/realtor/register"
                        class="text-login ml-2">Sign up</a> here</p>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
  <script src="bundle.js" charset="utf-8"></script>
  <script src="/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>

</body>

</html>
