<!-- Footer -->
<footer class="footer mt-5">
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">PORES REALTY®</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Our team has helped you discover and manage your Professional Real Estate experience through our own
          professional real
          estate agents and loan counselors, as well as our experienced, experienced Real Estate Finance professionals.
          We are
          committed to providing you with the highest level of pro life client services during your professional career
          path.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Support</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Home</a>
        </p>
        <p>
          <a href="#!">About Us</a>
        </p>
        <p>
          <a href="#!">Agents</a>
        </p>
        <p>
          <a href="#!">Listings</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become a Realtor</a>
        </p>
        <p>
          <a href="#!">Real Estate Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="bi bi-house-door mr-3"></i> Nairobi county KE
        </p>
        <p>
          <i class="bi bi-envelope mr-3"></i> info@pores.com
        </p>
        <p>
          <i class="bi bi-telephone mr-3"></i> + 01 234 567 88
        </p>
        <p>
          <i class="bi bi-telephone mr-3"></i> + 01 234 567 89
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="https://mdbootstrap.com/"> PORES REALTY®</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<script src="../bundle.js" charset="utf-8"></script>
<script src="/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

</body>

</html>
