<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<style>
  @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

  :root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #BC6C25;
    --first-color-light: #CCCCCC;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box
  }

  body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
  }

  a {
    text-decoration: none
  }

  .header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
  }

  .header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
  }

  .header_setting {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
  }


  .l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
  }

  .nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
  }

  .nav_logo,
  .nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
  }

  .nav_logo {
    margin-bottom: 2rem
  }

  .nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
  }

  .nav_logo-name {
    color: var(--white-color);
    font-weight: 700
  }

  .nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
  }

  .nav_link:hover {
    color: var(--white-color)
  }

  .nav_icon {
    font-size: 1.25rem
  }

  .show {
    left: 0
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
  }

  .active {
    color: var(--white-color)
  }

  .active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
  }

  .height-100 {
    height: 100vh
  }

  .form-control:not(select) {
    padding: 0.4rem 0.5rem;
  }

  .search {
    width: -webkit-fill-available;
    margin: 0 20px;
  }

  .search button {
    background-color: #BC6C25;
    border-color: transparent;
    border-radius: 0%;
  }

  .search button:hover {
    background-color: #bc6b2587;
    border-color: transparent;
  }

  .go-corner {
    background-color: #BC6C25;
  }

  .card2 {
    background-color: #dda25e12;
    border: 1px solid #dda25e59;
    padding: 5px 24px;
    cursor: pointer;
  }

  .card2:hover {
    box-shadow: 0px 4px 8px #dda25e12;

  }

  .card2::before {
    background: #BC6C25 !important;

  }

  .mt-1 {
    margin-top: -1.45rem !important;
  }

  .social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0
  }

  .social-list li {
    padding: 10px;
    color: #BC6C25;
    font-size: 19px
  }

  .social-list i:hover {
    color: #62CCD3;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem;
  }

  .card-body p {
    padding: 0px;
  }

  .card-body span {
    float: right;

  }

  .card-title {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .card-title p {
    padding: 0;
    margin-bottom: 0;
  }

  .badge {
    font-size: 1.2em;
  }

  .bg-primary {
    background-color: rgba(0, 0, 0, 0.467) !important
  }

  @media screen and (min-width: 768px) {
    body {
      margin: calc(var(--header-height) + 1rem) 0 0 0;
      padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
      height: calc(var(--header-height) + 1rem);
      padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .l-navbar {
      left: 0;
      padding: 1rem 1rem 0 0
    }

    .show {
      width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
      padding-left: calc(var(--nav-width) + 188px)
    }

  }

  @media (max-width: 786px) {
    .header h4 {
      display: none;
    }

    .badge {
      display: none;
    }
  }
</style>

<body id="body-pd">
  <header class="header" id="header">
    <div style="display: flex; align-items: center;">
      <div class="header_toggle mx-1"> <i class='bi bi-list' id="header-toggle"></i> </div>
      <div class="badge bg-primary text-wrap" style="width: 6.8rem; height:-2rem">P<i class="bi bi-house"></i>RES
      </div>
    </div>
    <div class="search">
      <form class="">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search realtors"
            style="border-color: #bc6b2551; border-right: transparent;">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div>
      <div class="header_setting px-2"> <i class='bi bi-gear'></i> </div>
    </div>
  </header>
