<!DOCTYPE html>
<html lang="en" dir="">

<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>
    <%= (typeof(title) !=='undefined' ) ? title : 'PORES' %>
  </title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/favicon_io/favicon.ico">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/css/vendor.min.css">
  <link rel="stylesheet" href="/bootstrap-icons.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/css/theme.min.css?v=1.0">
</head>

<body>
